<div class="image-verrerie navigation admin-link">
  <% if user_signed_in? %>
  <%= link_to "NOUVEL OBJET", new_verrery_path  %>
  <% end %>
  <p><%= link_to "ACCUEIL", '/'  %> / VERRERIE </p>
  <h1>VERRERIE</h1>
  <hr class="fancy-line"></hr>
  <div class="first-image verrerie-img">

  </div>
  <div class="link-products cursor">
    <ul class="hidden-xs hidden-sm">
      <li class="1">TOUS LES ARTICLES</li>
      <li class="2">VERRES</li>
      <li class="3">CARAFES</li>
      <li class="4">VASES</li>
    </ul>
        <div class="btn-group link-products hidden-lg hidden-md">
  <button type="button" class="btn-lire ai-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    TRIER PAR : <span class="caret"></span>
  </button>
  <ul class="dropdown-menu modal-drop">
    <li class="1">Tous les articles</li>
    <li class="2">Verres</li>
    <li class="3">Carafes</li>
      <li class="4">Vases</li>
  </ul>
</div>

  </div>
  <div class="div1 row">
      <% @verreries.each do |verre| %>
      <% if verre.visible === true %>


    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path verre.photo, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= verre.titre.upcase %></h2>
      <p><%= verre.prix %>€</p>
    <%= link_to verrery_path(verre) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>

    </div>
      </div>
      </div>
      <% end %>
  <% end %>
  </div>
  <div class="div2 row">
      <% @verreries.each do |verre| %>
      <% if verre.visible === true && verre.categorie === "Verre" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path verre.photo, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= verre.titre.upcase %></h2>
      <p><%= verre.prix %>€</p>
      <%= link_to verrery_path(verre) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
  <% end %>
  <% end %>
  </div>
  <div class="div3 row">
      <% @verreries.each do |verre| %>
       <% if verre.visible === true && verre.categorie === "Carafe" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path verre.photo, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= verre.titre.upcase %></h2>
      <p><%= verre.prix %>€</p>
      <%= link_to verrery_path(verre) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
  <% end %>
  <% end %>
  </div>
    <div class="div4 row">
      <% @verreries.each do |verre| %>
       <% if verre.visible === true && verre.categorie === "Vase" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path verre.photo, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= verre.titre.upcase %></h2>
      <p><%= verre.prix %>€</p>
      <%= link_to verrery_path(verre) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
      <% end %>
  <% end %>
  </div>
</div>



