<div class="container-show">
  <% if user_signed_in? %>
  <div class="admin-link">
    <p><%= link_to "NOUVEL OBJET", new_verrery_path  %> / <%= link_to "MODIFIER L'OBJET", edit_verrery_path(@verrerie)%> / <%= link_to "SUPPRIMER CET OBJET", verrery_path(@verrerie), :method => :delete %> </p>
  </div>
  <% end %>
  <div class="navigation">
    <p><%= link_to "ACCUEIL", "/"  %> / <%= link_to "VERRERIE", verreries_path  %> / <%= @verrerie.titre.upcase %></p>
  </div>
  <div class="row">
    <div class="col-xs-12 div col-sm-12 col-md-6">
      <!-- Place somewhere in the <body> of your page -->
<div id="slider" class="flexslider">
  <ul class="slides slides-container">
    <li><img src="<%= cl_image_path  @verrerie.photo, height: 400, width: 600, crop: :fill%>" alt=""></li>
    <li>
      <% if @verrerie.pictures[0].present? %>

      <img src="<%= cl_image_path @verrerie.pictures[0].picture_url(:verreries_image)%>">
    </li>
      <% end %>
    <li>
      <% if @verrerie.pictures[1].present? %>
      <img src="<%= cl_image_path @verrerie.pictures[1].picture_url(:verreries_image)%>" />
    </li>
     <% end %>
    <li>
      <% if @verrerie.pictures[2].present? %>
      <img src="<%= cl_image_path @verrerie.pictures[2].picture_url(:verreries_image)%>" />
    </li>
     <% end %>
    <li>
      <% if @verrerie.pictures[3].present? %>
      <img src="<%= cl_image_path @verrerie.pictures[3].picture_url(:verreries_image)%>" />
    </li>
     <% end %>
    <li>
      <% if @verrerie.pictures[4].present? %>
      <img src="<%= cl_image_path @verrerie.pictures[3].picture_url(:verreries_image)%>" />
    </li>
     <% end %>
    <!-- items mirrored twice, total of 12 -->
  </ul>
</div>
<div id="carousel" class="flexslider">
  <ul class="slides">
    <li><img src="<%= cl_image_path  @verrerie.photo, height: 400, width: 600, crop: :fill%>" alt=""></li>
    <li>
      <% if @verrerie.pictures[0].present? %>
      <img src="<%= cl_image_path @verrerie.pictures[0].picture_url(:verreries_image)%>" />
    </li>
     <% end %>
    <li>
      <% if @verrerie.pictures[1].present? %>
      <img src="<%= cl_image_path @verrerie.pictures[1].picture_url(:verreries_image)%>" />
    </li>
     <% end %>
    <li>
      <% if @verrerie.pictures[2].present? %>
      <img src="<%= cl_image_path @verrerie.pictures[2].picture_url(:verreries_image)%>" />
    </li>
     <% end %>
    <li>
      <% if @verrerie.pictures[3].present? %>
      <img src="<%= cl_image_path @verrerie.pictures[3].picture_url(:verreries_image)%>" />
    </li>
     <% end %>
    <li>
      <% if @verrerie.pictures[4].present? %>
      <img src="<%= cl_image_path @verrerie.pictures[3].picture_url(:verreries_image)%>" />
    </li>
     <% end %>
    <!-- items mirrored twice, total of 12 -->
  </ul>
</div>

    </div>
    <div class="col-xs-12 div col-sm-12 col-md-4 show-description">
        <h1><%= @verrerie.titre.capitalize %></h1>
        <h3><%= @verrerie.prix %>€</h3>
        <p><%= @verrerie.description %></p>
        <div class="btn-dispo">
          <button type="button" class="ai-btn" data-toggle="modal" data-target="#exampleModal"><%= image_tag "disponibilites.svg" %></button>

        </div>
    </div>
  </div>
</div>
<div class="nouveaute-container">
  <div class="row">
    <div class="col xs-12 center">
      <hr class="fancy-line"><h1>RECOMMANDATIONS</h1><hr class="fancy-line">
    </div>
  </div>
    <div class="row center-card">
      <% @verreries[0..2].each do |objet| %>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path objet.photo, height: 150, crop: :fill %>')">
        </div>
      <div class="zoom titre-prix">
      <h6><%= objet.titre.upcase %></h2>
      <p><%= objet.prix %>€</p>

      <%#= link_to "Voir le produit", verrery_path(objet), class: "link-cover"  %>
      <%= link_to verrery_path(objet) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>


    </div>
      </div>
      </div>
    <% end %>
  </div>

</div>

<%= render "shared/modal" %>
