<div class="image-verrerie navigation admin-link">
  <% if user_signed_in? %>
  <%= link_to "NOUVEL OBJET", new_textile_path  %>
  <% end %>
  <p><%= link_to "ACCUEIL", '/'  %> / TEXTILE</p>
  <h1>TEXTILE</h1>
  <hr class="fancy-line"></hr>
  <div class="first-image textile-img">

  </div>
  <div class="link-products cursor">
    <ul class="hidden-sm hidden-xs">
      <li class="1">TOUS LES ARTICLES</li>
      <li class="2">COUSSINS</li>
      <li class="3">PLAIDS</li>
      <li class="4">DESSOUS DE LIT</li>
      <li class="5">NAPPES</li>
      <li class="6">RIDEAUX</li>
      <li class="7">TAPIS</li>
    </ul>
        <div class="btn-group link-products hidden-lg hidden-md">
  <button type="button" class="btn-lire ai-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    TRIER PAR : <span class="caret"></span>
  </button>
  <ul class="dropdown-menu modal-drop">
    <li class="1">Tous les articles</li>
    <li class="2">Coussins</li>
    <li class="3">Plaids</li>
      <li class="4">Dessous de lit</li>
      <li class="5">Nappes</li>
      <li class="5">Rideaux</li>
      <li class="5">Tapis</li>
  </ul>
</div>
  </div>
  <div class="div1 row">
      <% @textiles.each do |textile| %>
      <% if textile.visible === true %>


    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path textile.tephoto, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= textile.titre.upcase %></h6>
      <p><%= textile.prix %>€</p>
      <%= link_to textile_path(textile) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
      <% end %>
  <% end %>
  </div>

  <div class="div2 row">
      <% @textiles.each do |textile| %>
      <% if textile.visible === true && textile.categorie === "Coussin" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path textile.tephoto, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= textile.titre.upcase %></h6>
      <p><%= textile.prix %>€</p>
      <%= link_to textile_path(textile) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
  <% end %>
  <% end %>
  </div>
  <div class="div3 row">
      <% @textiles.each do |textile| %>
       <% if textile.visible === true && textile.categorie === "Plaid" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path textile.tephoto, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= textile.titre.upcase %></h6>
      <p><%= textile.prix %>€</p>
      <%= link_to textile_path(textile) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
  <% end %>
  <% end %>
  </div>
    <div class="div4 row">
      <% @textiles.each do |textile| %>
       <% if textile.visible === true && textile.categorie === "Dessous de lit" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path textile.tephoto, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= textile.titre.upcase %></h6>
      <p><%= textile.prix %>€</p>
      <%= link_to textile_path(textile) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
      <% end %>
  <% end %>
  </div>

    <div class="div5 row">
      <% @textiles.each do |textile| %>
       <% if textile.visible === true && textile.categorie === "Nappe" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path textile.tephoto, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= textile.titre.upcase %></h6>
      <p><%= textile.prix %>€</p>
      <%= link_to textile_path(textile) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
      <% end %>
  <% end %>
  </div>
  <div class="div6 row">
      <% @textiles.each do |textile| %>
       <% if textile.visible === true && textile.categorie === "Rideau" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path textile.tephoto, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= textile.titre.upcase %></h6>
      <p><%= textile.prix %>€</p>
      <%= link_to textile_path(textile) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
      <% end %>
  <% end %>
  </div>
  <div class="div7 row">
      <% @textiles.each do |textile| %>
       <% if textile.visible === true && textile.categorie === "Tapis" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path textile.tephoto, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= textile.titre.upcase %></h6>
      <p><%= textile.prix %>€</p>
      <%= link_to textile_path(textile) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
      <% end %>
  <% end %>
  </div>
</div>

