<div class="container-show">
  <% if user_signed_in? %>
  <div class="admin-link">
    <p><%= link_to "NOUVEL OBJET", new_textile_path  %> / <%= link_to "MODIFIER L'OBJET", edit_textile_path(@textile)%> / <%= link_to "SUPPRIMER CET OBJET", textile_path(@textile), :method => :delete %> </p>
  </div>
  <% end %>
  <div class="navigation">
    <p><%= link_to "ACCUEIL", "/"  %> / <%= link_to "TEXTILE", textiles_path  %> / <%= @textile.titre.upcase %></p>
  </div>
  <div class="row">
    <div class="col-xs-12 div col-sm-12 col-md-6">
      <!-- Place somewhere in the <body> of your page -->
<div id="teslider" class="flexslider">
  <ul class="slides slides-container">
    <li><img src="<%= cl_image_path  @textile.tephoto, height: 400, width: 600, crop: :fill%>" alt=""></li>
    <li>
      <% if @textile.tepictures[0] %>

      <img src="<%= cl_image_path @textile.tepictures[0].tepicture_url(:textiles_image)%>">
    </li>
      <% end %>
    <li>
      <% if @textile.tepictures[1].present? %>
      <img src="<%= cl_image_path @textile.tepictures[1].tepicture_url(:textiles_image)%>" />
    </li>
     <% end %>
    <li>
      <% if @textile.tepictures[2].present? %>
      <img src="<%= cl_image_path @textile.tepictures[2].tepicture_url(:textiles_image)%>" />
    </li>
     <% end %>
    <li>
      <% if @textile.tepictures[3].present? %>
      <img src="<%= cl_image_path @textile.tepictures[3].tepicture_url(:textiles_image)%>" />
    </li>
     <% end %>
    <li>
      <% if @textile.tepictures[4].present? %>
      <img src="<%= cl_image_path @textile.tepictures[3].tepicture_url(:textiles_image)%>" />
    </li>
     <% end %>
    <!-- items mirrored twice, total of 12 -->
  </ul>
</div>
<div id="tecarousel" class="flexslider">
  <ul class="slides">
    <li><img src="<%= cl_image_path  @textile.tephoto, height: 400, width: 600, crop: :fill%>" alt=""></li>
    <li>
      <% if @textile.tepictures[0].present? %>
      <img src="<%= cl_image_path @textile.tepictures[0].tepicture_url(:textiles_image)%>" />
    </li>
     <% end %>
    <li>
      <% if @textile.tepictures[1].present? %>
      <img src="<%= cl_image_path @textile.tepictures[1].tepicture_url(:textiles_image)%>" />
    </li>
     <% end %>
    <li>
      <% if @textile.tepictures[2].present? %>
      <img src="<%= cl_image_path @textile.tepictures[2].tepicture_url(:textiles_image)%>" />
    </li>
     <% end %>
    <li>
      <% if @textile.tepictures[3].present? %>
      <img src="<%= cl_image_path @textile.tepictures[3].tepicture_url(:textiles_image)%>" />
    </li>
     <% end %>
    <li>
      <% if @textile.tepictures[4].present? %>
      <img src="<%= cl_image_path @textile.tepictures[3].tepicture_url(:textiles_image)%>" />
    </li>
     <% end %>
    <!-- items mirrored twice, total of 12 -->
  </ul>
</div>

    </div>
    <div class="col-xs-12 div col-sm-12 col-md-4 show-description">
        <h1><%= @textile.titre.capitalize %></h1>
        <h3><%= @textile.prix %>€</h3>
        <p><%= @textile.description %></p>
        <div class="btn-dispo">
          <button type="button" class="ai-btn" data-toggle="modal" data-target="#exampleModal"><%= image_tag "disponibilites.svg" %></button>

        </div>
    </div>
  </div>
</div>
<div class="nouveaute-container">
  <div class="row">
    <div class="col xs-12 center">
      <hr class="fancy-line"><h1>AUTRES RECOMMANDATIONS</h1><hr class="fancy-line">
    </div>
  </div>
    <div class="row center-card">
      <% @textiles[0..2].each do |objet| %>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path objet.tephoto, height: 150, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= objet.titre.upcase %></h2>
      <p><%= objet.prix %>€</p>

      <%= link_to textile_path(objet) do %>
        <%= image_tag "voir-produit.svg" %>
      <% end %>


    </div>
      </div>
      </div>
    <% end %>
  </div>

</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span> -->
                    </button>

                  <div class="modal-body body-content">
                    <h3>LES AUTRUCHES</h3>
                    <p>Ce produit vous intéresse ? N'hesitez pas à nous contacter pour qu'on vous le réserve ou pour plus d'informations. A très vite.</p><br>
                    <ul>
                      <li><i class="far fa-compass"></i> 33 rue Boulard</li>
                      <li><i class="far fa-compass"></i> Paris - 75014</li>
                      <li><i class="far fa-address-book"></i> 01-40-20-90-00 / 06-07-03-61-62</li>
                      <li><i class="far fa-envelope"></i> <a href="mailto:lesautruches@gmail.com" style="color: black;">lesautruches@gmail.com</a></li>
                    </ul>



                  </div>
                  <div class="modal-footer">
                    <button type="button" class="link-cover" data-dismiss="modal">Revenir à l'annonce</button>
                    <button type="button" class="link-cover"> <%= link_to "Contactez nous par email", new_contact_path   %></button>
                  </div>
                </div>
              </div>
            </div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#tecarousel').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    itemWidth: 100,
    itemMargin: 5,
    asNavFor: '#teslider',
    directionNav:false,
  });

  $('#teslider').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    sync: "#tecarousel",
    directionNav:false,
  });
  });
</script>

