 <div class="container container-margin">
  <h1>MODIFIER CET OBJET</h1>
  <hr class="fancy-line"></hr>
<div class="row">
  <div class="col-md-12">
<%= simple_form_for(@lifestyle, :html => { multipart: true }) do |f| %>
 <% if @lifestyle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lifestyle.errors.count, "erreur") %> empêchent l'objet d'être modifié:</h2>

      <ul>
      <% @lifestyle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-form">
    <div class="champs">
      <%= f.input :titre, label: 'TITRE' %>
      <%= f.input :description, label: 'DESCRIPTION' %>
      <%= f.input :categorie, collection: ["Miroir", "Bougie", "Bougeoire", "Cadre"], label: 'CATEGORIE', placeholder: "Choisissez une catégorie" %>
      <%= f.input :prix, label: 'PRIX' %>
      <%= f.input :visible, as: :select, label: 'VISIBLE' %>
      <%= f.input :lphoto, label: "PHOTO PRINCIPALE", placeholder: 'Oui' %>
      <%= f.input :lphoto_cache, as: :hidden %>
    </div>
  <div class="photo-display">
      <img src="<%= cl_image_path  @lifestyle.lphoto, height: 250, width: 400, crop: :fill%>" alt="">
    </div>

   <%= f.fields_for :lpicture do |ff| %>
    <div class="field">
      <%= ff.label :lpicture, label: "PHOTOS SECONDAIRES" %><br>
      <%= ff.file_field :lpicture, multiple: true, name: "lpictures[]" %>
    </div>
  <% end %>

    <div class="actions btn-margin">
      <%= f.button :submit, 'MODIFIER', class: "btn-form" %>
    </div>
    <% end %>


    <% if @lifestyle.id %>
    <div class="row">
  <% @lifestyle.lpictures.each do |lpicture| %>
      <div class="col-xs-12 col-md-3">
    <%= image_tag lpicture.lpicture_url(:lifestyles_thumbnail) %><br>
    <%= link_to "Supprimez", lpicture_path(lpicture), :method => :delete, class: "btn-suppprimez" %><br>

      </div>
  <% end %>
<% end %>
    </div>
  </div>

    <%= link_to "SUPPRIMEZ CET OBJET", lifestyle_path(@lifestyle), :method => :delete, class: 'btn-form-delete'   %>
<p><%= link_to "RETOUR À L'ANNONCE", lifestyle_path(@lifestyle), class: 'btn-form-delete'  %></p>

     </div>
</div>
</div>


</div>

