<div class="image-verrerie navigation admin-link">
  <% if user_signed_in? %>
  <%= link_to "NOUVEL OBJET", new_lifestyle_path  %>
  <% end %>
  <p><%= link_to "ACCUEIL", '/'  %> / LIFESTYLE </p>
  <h1>LIFESTYLE</h1>
  <hr class="fancy-line"></hr>
  <div class="first-image lifestyle-img">

  </div>
  <div class="link-products cursor">
    <ul class="hidden-sm hidden-xs">
      <li class="1">TOUS LES ARTICLES</li>
      <li class="2">MIROIRS</li>
      <li class="3">BOUGIES</li>
      <li class="4">BOUGEOIRES</li>
      <li class="5">CADRES</li>
    </ul>
        <div class="btn-group link-products hidden-lg hidden-md">
  <button type="button" class="btn-lire ai-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    TRIER PAR : <span class="caret"></span>
  </button>
  <ul class="dropdown-menu modal-drop">
    <li class="1">Tous les articles</li>
    <li class="2">Miroirs</li>
    <li class="3">Bougies</li>
      <li class="4">Bougeoires</li>
      <li class="5">Cadres</li>
  </ul>
</div>
  </div>
  <div class="div1 row">
      <% @lifestyles.each do |lifestyle| %>
      <% if lifestyle.visible === true %>


    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path lifestyle.lphoto, height: 200, crop: :fill %>')">
        </div>
      <div class="zoom titre-prix">
      <h6><%= lifestyle.titre.upcase %></h2>
      <p><%= lifestyle.prix %>€</p>
      <%= link_to lifestyle_path(lifestyle) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
      <% end %>
  <% end %>
  </div>
  <div class="div2 row">
      <% @lifestyles.each do |lifestyle| %>
      <% if lifestyle.visible === true && lifestyle.categorie === "Miroir" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path lifestyle.lphoto, height: 200, crop: :fill %>')">
        </div>
      <div class="zoom titre-prix">
      <h6><%= lifestyle.titre.upcase %></h2>
      <p><%= lifestyle.prix %>€</p>
      <%= link_to lifestyle_path(lifestyle) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
  <% end %>
  <% end %>
  </div>
  <div class="div3 row">
      <% @lifestyles.each do |lifestyle| %>
       <% if lifestyle.visible === true && lifestyle.categorie === "Bougie" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path lifestyle.lphoto, height: 200, crop: :fill %>')">
        </div>
      <div class="zoom titre-prix">
      <h6><%= lifestyle.titre.upcase %></h2>
      <p><%= lifestyle.prix %>€</p>
      <%= link_to lifestyle_path(lifestyle) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
  <% end %>
  <% end %>
  </div>
    <div class="div4 row">
      <% @lifestyles.each do |lifestyle| %>
       <% if lifestyle.visible === true && lifestyle.categorie === "Bougeoire" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path lifestyle.lphoto, height: 200, crop: :fill %>')">
        </div>
      <div class="zoom titre-prix">
      <h6><%= lifestyle.titre.upcase %></h2>
      <p><%= lifestyle.prix %>€</p>
      <%= link_to lifestyle_path(lifestyle) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
      <% end %>
  <% end %>
  </div>
  </div>
    <div class="div5 row">
      <% @lifestyles.each do |lifestyle| %>
       <% if lifestyle.visible === true && lifestyle.categorie === "Cadre" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path lifestyle.lphoto, height: 200, crop: :fill %>')">
        </div>
      <div class="zoom titre-prix">
      <h6><%= lifestyle.titre.upcase %></h2>
      <p><%= lifestyle.prix %>€</p>
      <%= link_to lifestyle_path(lifestyle) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
      <% end %>
  <% end %>
  </div>
</div>

