 <div class="container container-margin">
  <h1>MODIFIER CET OBJET</h1>
<div class="row">
  <div class="col-md-12">
<%= simple_form_for(@luminaire, :html => { multipart: true }) do |f| %>
 <% if @luminaire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@luminaire.errors.count, "erreur") %> empêchent l'objet d'être modifié:</h2>

      <ul>
      <% @luminaire.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-form">
    <div class="champs">
      <%= f.input :titre, label: 'TITRE' %>
      <%= f.input :description, label: 'DESCRIPTION' %>
      <%= f.input :categorie, collection: ["Suspension", "Applique", "Lampe à poser", "Baladeuse"], label: 'CATEGORIE', placeholder: "Choisissez une catégorie" %>
      <%= f.input :prix, label: 'PRIX' %>
      <%= f.input :visible, as: :select, label: 'VISIBLE' %>
      <%= f.input :luphoto, label: "PHOTO PRINCIPALE", placeholder: 'Oui' %>
      <%= f.input :luphoto_cache, as: :hidden %>
    </div>
  <div class="photo-display">
      <img src="<%= cl_image_path  @luminaire.luphoto, height: 250, width: 400, crop: :fill%>" alt="">
    </div>

   <%= f.fields_for :lupicture do |ff| %>
    <div class="field">
      <%= ff.label :lupicture, label: "PHOTOS SECONDAIRES" %><br>
      <%= ff.file_field :lupicture, multiple: true, name: "lupictures[]" %>
    </div>
  <% end %>

    <div class="actions btn-margin">
      <%= f.button :submit, 'MODIFIER', class: "btn-form" %>
    </div>
    <% end %>


    <% if @luminaire.id %>
    <div class="row">
  <% @luminaire.lupictures.each do |lupicture| %>
      <div class="col-xs-12 col-md-3">
    <%= image_tag lupicture.lupicture_url(:luminaires_thumbnail) %><br>
    <%= link_to "Supprimez", lupicture_path(lupicture), :method => :delete, class: "btn-suppprimez" %><br>

      </div>
  <% end %>
<% end %>
    </div>
  </div>

    <%= link_to "SUPPRIMEZ CET OBJET", luminaire_path(@luminaire), :method => :delete, class: 'btn-form-delete'   %>
<p><%= link_to "RETOUR À L'ANNONCE", luminaire_path(@luminaire), class: 'btn-form-delete'  %></p>

     </div>
</div>
</div>


</div>

