<div class="image-verrerie navigation admin-link">
  <% if user_signed_in? %>
  <%= link_to "NOUVEL OBJET", new_luminaire_path  %>
  <% end %>
  <p><%= link_to "ACCUEIL", '/'  %> / LUMINAIRE </p>
  <h1>LUMINAIRE</h1>
  <hr class="fancy-line"></hr>
  <div class="first-image luminaire-img">

  </div>
  <div class="link-products cursor ">
    <ul class="hidden-xs hidden-sm">
      <li class="1">TOUS LES ARTICLES</li>
      <li class="2">SUSPENSIONS</li>
      <li class="3">LAMPES À POSER</li>
      <li class="4">APPLIQUES</li>
      <li class="5">BALADEUSES</li>

    </ul>
    <div class="btn-group link-products hidden-lg hidden-md">
  <button type="button" class="btn-lire dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    TRIER PAR : <span class="caret"></span>
  </button>
  <ul class="dropdown-menu modal-drop">
    <li class="1">Tous les articles</li>
    <li class="2">Suspensions</li>
    <li class="3">Lampes à poser</li>
      <li class="4">Appliques</li>
      <li class="5">Baladeuses</li>
  </ul>
</div>
  </div>
  <div class="div1 row">
      <% @luminaires.each do |luminaire| %>
      <% if luminaire.visible === true %>


    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path luminaire.luphoto, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= luminaire.titre.upcase %></h2>
      <p><%= luminaire.prix %>€</p>
      <%= link_to luminaire_path(luminaire) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
      <% end %>
  <% end %>
  </div>
  <div class="div2 row">
      <% @luminaires.each do |luminaire| %>
      <% if luminaire.visible === true && luminaire.categorie === "Suspension" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path luminaire.luphoto, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= luminaire.titre.upcase %></h2>
      <p><%= luminaire.prix %>€</p>
      <%= link_to luminaire_path(luminaire) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
  <% end %>
  <% end %>
  </div>
  <div class="div3 row">
      <% @luminaires.each do |luminaire| %>
       <% if luminaire.visible === true && luminaire.categorie === "Lampe à poser" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path luminaire.luphoto, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= luminaire.titre.upcase %></h2>
      <p><%= luminaire.prix %>€</p>
      <%= link_to luminaire_path(luminaire) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
  <% end %>
  <% end %>
  </div>
    <div class="div4 row">
      <% @luminaires.each do |luminaire| %>
       <% if luminaire.visible === true && luminaire.categorie === "Applique" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path luminaire.luphoto, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= luminaire.titre.upcase %></h2>
      <p><%= luminaire.prix %>€</p>
      <%= link_to luminaire_path(luminaire) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
      <% end %>
  <% end %>
  </div>
    <div class="div5 row">
      <% @luminaires.each do |luminaire| %>
       <% if luminaire.visible === true && luminaire.categorie === "Baladeuse" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path luminaire.luphoto, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= luminaire.titre.upcase %></h2>
      <p><%= luminaire.prix %>€</p>
      <%= link_to luminaire_path(luminaire) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
      <% end %>
  <% end %>
  </div>

</div>
