<div class="image-verrerie navigation admin-link">
  <% if user_signed_in? %>
  <%= link_to "NOUVEL OBJET", new_enfant_path  %>
  <% end %>
  <p><%= link_to "ACCUEIL", '/'  %> / ENFANT </p>
  <h1>ENFANT</h1>
  <hr class="fancy-line"></hr>
  <div class="first-image enfants-img">

  </div>
  <div class="link-products cursor">
    <ul class="hidden-xs hidden-sm">
      <li class="1">TOUS LES ARTICLES</li>
      <li class="2">DOUDOUNES</li>
      <li class="3">TEXTILES</li>
      <li class="3">DEGUISEMENTS</li>
    </ul>
        <div class="btn-group link-products hidden-lg hidden-md">
  <button type="button" class="btn-lire dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    TRIER PAR : <span class="caret"></span>
  </button>
  <ul class="dropdown-menu modal-drop">
    <li class="1">Tous les articles</li>
    <li class="2">Doudounes</li>
    <li class="3">Textiles</li>
      <li class="4">Deguisements</li>

  </ul>
</div>
  </div>
  <div class="div1 row">
      <% @enfants.each do |enfant| %>
      <% if enfant.visible === true %>


    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path enfant.ephoto, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= enfant.titre.upcase %></h2>
      <p><%= enfant.prix %>€</p>
      <%= link_to enfant_path(enfant) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
      <% end %>
  <% end %>
  </div>
  <div class="div2 row">
      <% @enfants.each do |enfant| %>
      <% if enfant.visible === true && enfant.categorie === "Doudoune" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path enfant.ephoto, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= enfant.titre.upcase %></h2>
      <p><%= enfant.prix %>€</p>
      <%= link_to enfant_path(enfant) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
  <% end %>
  <% end %>
  </div>
  <div id="div3"class="row">
      <% @enfants.each do |enfant| %>
       <% if enfant.visible === true && enfant.categorie === "Textile" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path enfant.ephoto, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= enfant.titre.upcase %></h2>
      <p><%= enfant.prix %>€</p>
      <%= link_to enfant_path(enfant) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
  <% end %>
  <% end %>
  </div>
  <div class="div3 row">
      <% @enfants.each do |enfant| %>
       <% if enfant.visible === true && enfant.categorie === "Deguisement" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path enfant.ephoto, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= enfant.titre.upcase %></h2>
      <p><%= enfant.prix %>€</p>
      <%= link_to enfant_path(enfant) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
  <% end %>
  <% end %>
  </div>
</div>
