 <div class="container container-margin">
  <h1>AJOUTER UN OBJET</h1>
<div class="row">
  <div class="col-md-12">
<%= simple_form_for(@enfant, :html => { multipart: true }) do |f| %>
 <% if @enfant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@enfant.errors.count, "erreur") %> empêchent l'objet d'être ajouté:</h2>

      <ul>
      <% @enfant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-form">
    <div class="champs">
      <%= f.input :titre, label: 'TITRE' %>
      <%= f.input :description, label: 'DESCRIPTION' %>
      <%= f.input :categorie, collection: ["Doudoune", "Textile", "Deguisement"], label: 'CATEGORIE', placeholder: "Choisissez une catégorie" %>
      <%= f.input :prix, label: 'PRIX' %>
      <%= f.input :visible, as: :select, label: 'VISIBLE' %>
      <%= f.input :ephoto, label: "PHOTO PRINCIPALE", placeholder: 'Oui' %>
      <%= f.input :ephoto_cache, as: :hidden %>
    </div>


   <%= f.fields_for :bpicture do |ff| %>
    <div class="field">
      <%= ff.label :bpicture, label: "PHOTOS SECONDAIRES" %><br>
      <%= ff.file_field :bpicture, multiple: true, name: "bpictures[]" %>
    </div>
  <% end %>

    <div class="actions btn-margin">
      <%= f.button :submit, 'AJOUTER', class: "btn-form" %>
    </div>
    <% end %>

  </div>
<p><%= link_to "RETOUR AUX ANNONCES", enfants_path, class: 'btn-form-delete'  %></p>

     </div>
</div>
</div>


</div>
