
  <div class="nav-bar-container">
   <div class="logo-container">
    <%= image_tag "logo-lettre.png" %>
  </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="link-primary hidden-xs hidden-sm" id="bs-megadropdown-tabs">
        <ul class="nav navbar-nav">
            <li><%= link_to "Accueil", '/'%></li>
        <li class="dropdown mega-dropdown active">
          <a href="#" class="dropdown-toggle btn-footer" data-toggle="dropdown">Produits</a>
        <div class="dropdown-menu mega-dropdown-menu">
          <div class="container-fluid">
           <!-- Tab panes -->
            <div class="tab-content">
              <div class="tab-pane active" id="men">
                <ul class="link-products list-inline">
                    <li><%= link_to "Verrerie", verreries_path, class: "cool-link"%></li>
                    <li><%= link_to "Table", tables_path, class: "cool-link"%></li>
                    <li><%= link_to "Textile", textiles_path, class: "cool-link"%></li>
                    <li><%= link_to "Lifestyle", lifestyles_path, class: "cool-link"%></li>
                    <li><%= link_to "Mobilier", mobiliers_path, class: "cool-link"%></li>
                    <li><%= link_to "Luminaires", luminaires_path, class: "cool-link"%></li>
                    <li><%= link_to "Enfants", enfants_path, class: "cool-link"%></li>
                    <li><%= link_to "Bijoux", bijous_path, class: "cool-link"%></li>
                    <li><%= link_to "Maroquinerie", maroquineries_path, class: "cool-link"%></li>
                    <li><%= link_to "Accessoires", accessoires_path, class: "cool-link"%></li>
                </ul>
              </div>

            </div>
        </div>

        </div>
      </li>
      <li><%= link_to "Boutiques", boutiques_path%></li>
      <li><%= link_to "Réalisations", '/'%></li>
      <li><%= link_to "Presse", '/'%></li>
      <li><%= link_to "Contact", new_contact_path%></li>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->


<script>
  $(document).ready(function(){
    $(".dropdown").hover(
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("slow");
            $(this).toggleClass('open');
        }
    );
});
</script>

