<div class="home-container">
<div class="banner-container">
 <ul class="rslides" id="slider2">
  <li class="img-slider1"></li>
  <li class="img-slider2"></li>
  <li class="img-slider3"></li>

</ul>
</div>

<div class="produit-banner">
  <h1>Produits </h1>
<hr class="fancy-line"></hr>
</div>
<div class="container-fluid container-produits">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 border verrerie-img">
      <div class="content-container">
        <%= link_to "", verreries_path, class: "link"  %>
      <h1>VERRERIE</h1>

      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 border table-img">
      <div class="content-container">
        <%= link_to "", tables_path, class: "link"  %>
      <h1>TABLE</h1>

      </div>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 border textile-img">
      <div class="content-container">
        <%= link_to "", textiles_path, class: "link"  %>
      <h1>TEXTILE</h1>

      </div>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 border lifestyle-img">
<div class="content-container">
  <%= link_to "", lifestyles_path, class: "link"  %>
      <h1>LIFESTYLE</h1>

      </div>

    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 border mobilier-img">
<div class="content-container">
  <%= link_to "", mobiliers_path, class: "link"  %>
      <h1>MOBILIER</h1>

      </div>

    </div>
     <div class="col-xs-12 col-sm-6 col-md-6 border luminaire-img">
<div class="content-container">
  <%= link_to "", luminaires_path, class: "link"  %>
      <h1>LUMINAIRES</h1>

      </div>

    </div> <div class="col-xs-12 col-sm-6 col-md-6 border enfants-img">
<div class="content-container">
  <%= link_to "", verreries_path, class: "link"  %>
      <h1>ENFANTS</h1>

      </div>

    </div> <div class="col-xs-12 col-sm-6 col-md-6 border accessoires-img">
<div class="content-container">
  <%= link_to "", accessoires_path, class: "link"  %>
      <h1>ACCESSOIRES</h1>

      </div>

    </div><div class="col-xs-12 col-sm-6 col-md-6 border accessoires-img">
<div class="content-container">
  <%= link_to "", bijous_path, class: "link"  %>
      <h1>BIJOUX</h1>

      </div>

    </div><div class="col-xs-12 col-sm-6 col-md-6 border accessoires-img">
<div class="content-container">
  <%= link_to "", maroquineries_path, class: "link"  %>
      <h1>MAROQUINERIES</h1>

      </div>

    </div>
  </div>
</div>
  <div class="produit-banner">
  <h1>RÉALISATIONS </h1>
<hr class="fancy-line"></hr>
<div class="row">
  <div class="col-xs-12 border perchoir-img">
    <div class="content-container">
      <h1>PERCHOIR DE L'EST</h1>
    </div>
  </div>
  <div class="col-xs-12 border perchoir1-img">
    <div class="content-container">
      <h1>PERCHOIR</h1>
    </div>
  </div>
  <div class="col-xs-12 border perchoir2-img">
    <div class="content-container">
      <h1>PERCHOIR DU NORD</h1>
    </div>
  </div>
</div>
</div>
  <hr class="fancy-line"></hr>
</div>
<!-- Slide javascript code -->
<script>
$(function () {
   $("#slider2").responsiveSlides({
        auto: true,
        pager: false,
        nav: false,
        speed: 2000,
        timeout: 5000,
        namespace: "transparent-btns"
      });
    });
</script>
