<div class="container-show">
  <% if user_signed_in? %>
  <div class="admin-link">
    <p><%= link_to "NOUVEAU PROJET", new_realisation_path  %> / <%= link_to "MODIFIER LE PROJET", edit_realisation_path(@realisation)%> / <%= link_to "SUPPRIMER CE PROJET", realisation_path(@realisation), :method => :delete %> </p>
  </div>
  <% end %>
  <div class="navigation">
    <p><%= link_to "ACCUEIL", "/"  %> / <%= link_to "REALISATION", realisations_path  %> / <%= @realisation.titre.upcase %></p>
  </div>
  <div class="row">
    <div class="col-xs-12 div col-sm-12 col-md-6">
      <!-- Place somewhere in the <body> of your page -->
<div id="tslider" class="flexslider">
  <ul class="slides slides-container">
    <li><img src="<%= cl_image_path  @realisation.rphoto, height: 400, width: 600, crop: :fill%>" alt=""></li>
    <li>
      <% if @realisation.rpictures[0] %>

      <img src="<%= cl_image_path @realisation.rpictures[0].rpicture_url(:realisations_image)%>">
    </li>
      <% end %>
    <li>
      <% if @realisation.rpictures[1].present? %>
      <img src="<%= cl_image_path @realisation.rpictures[1].rpicture_url(:realisations_image)%>" />
    </li>
     <% end %>
    <li>
      <% if @realisation.rpictures[2].present? %>
      <img src="<%= cl_image_path @realisation.rpictures[2].rpicture_url(:realisations_image)%>" />
    </li>
     <% end %>
    <li>
      <% if @realisation.rpictures[3].present? %>
      <img src="<%= cl_image_path @realisation.rpictures[3].rpicture_url(:realisations_image)%>" />
    </li>
     <% end %>
    <li>
      <% if @realisation.rpictures[4].present? %>
      <img src="<%= cl_image_path @realisation.rpictures[3].rpicture_url(:realisations_image)%>" />
    </li>
     <% end %>
    <!-- items mirrored twice, total of 12 -->
  </ul>
</div>
<div id="tcarousel" class="flexslider">
  <ul class="slides">
    <li><img src="<%= cl_image_path  @realisation.rphoto, height: 400, width: 600, crop: :fill%>" alt=""></li>
    <li>
      <% if @realisation.rpictures[0].present? %>
      <img src="<%= cl_image_path @realisation.rpictures[0].rpicture_url(:realisations_image)%>" />
    </li>
     <% end %>
    <li>
      <% if @realisation.rpictures[1].present? %>
      <img src="<%= cl_image_path @realisation.rpictures[1].rpicture_url(:realisations_image)%>" />
    </li>
     <% end %>
    <li>
      <% if @realisation.rpictures[2].present? %>
      <img src="<%= cl_image_path @realisation.rpictures[2].rpicture_url(:realisations_image)%>" />
    </li>
     <% end %>
    <li>
      <% if @realisation.rpictures[3].present? %>
      <img src="<%= cl_image_path @realisation.rpictures[3].rpicture_url(:realisations_image)%>" />
    </li>
     <% end %>
    <li>
      <% if @realisation.rpictures[4].present? %>
      <img src="<%= cl_image_path @realisation.rpictures[3].rpicture_url(:realisations_image)%>" />
    </li>
     <% end %>
    <!-- items mirrored twice, total of 12 -->
  </ul>
</div>

    </div>
    <div class="col-xs-12 div col-sm-12 col-md-4 show-description">
        <h1><%= @realisation.titre.capitalize %></h1>
        <p><%= @realisation.description %></p>
        <div class="btn-dispo">
          <%= link_to "Intéressé", "/", class: "btn-dispo"  %>

        </div>
    </div>
  </div>
</div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    $('#tcarousel').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    itemWidth: 100,
    itemMargin: 5,
    asNavFor: '#tslider',
    directionNav:false,
  });

  $('#tslider').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    sync: "#tcarousel",
    directionNav:false,
  });
  });
</script>
