<div class="image-verrerie navigation admin-link">
  <% if user_signed_in? %>
  <%= link_to "NOUVEL OBJET", new_mobilier_path  %>
  <% end %>
  <p><%= link_to "ACCUEIL", '/'  %> / MOBILIER </p>
  <h1>MOBILIER</h1>
  <hr class="fancy-line"></hr>
  <div class="first-image mobilier-img">

  </div>
  <div class="link-products cursor">
    <ul class="hidden-xs hidden-sm">
      <li class="1">TOUS LES ARTICLES</li>
      <li class="2">CANAPÉS</li>
      <li class="3">FAUTEUILS</li>
      <li class="4">CHAISES</li>
      <li class="5">TABLES BASSES</li>
      <li class="6">BANCS</li>
    </ul>
        <div class="btn-group link-products hidden-lg hidden-md">
  <button type="button" class="btn-lire ai-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    TRIER PAR : <span class="caret"></span>
  </button>
  <ul class="dropdown-menu modal-drop">
    <li class="1">Tous les articles</li>
    <li class="2">Canapés</li>
    <li class="3">Fauteuils</li>
      <li class="4">Chaises</li>
      <li class="5">Tables basses</li>
      <li class="6">Bancs</li>
  </ul>
</div>
  </div>
  <div class="div1 row">
      <% @mobiliers.each do |mobilier| %>
      <% if mobilier.visible === true %>


    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path mobilier.mphoto, height: 200, crop: :fill %>')">
        </div>
      <div class="zoom titre-prix">
      <h6><%= mobilier.titre.upcase %></h2>
      <p><%= mobilier.prix %>€</p>
      <%= link_to mobilier_path(mobilier) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
      <% end %>
  <% end %>
  </div>
  <div class="div2 row">
      <% @mobiliers.each do |mobilier| %>
      <% if mobilier.visible === true && mobilier.categorie === "Canapé" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path mobilier.mphoto, height: 200, crop: :fill %>')">
        </div>
      <div class="zoom titre-prix">
      <h6><%= mobilier.titre.upcase %></h2>
      <p><%= mobilier.prix %>€</p>
      <%= link_to mobilier_path(mobilier) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
  <% end %>
  <% end %>
  </div>
  <div class="div3 row">
      <% @mobiliers.each do |mobilier| %>
       <% if mobilier.visible === true && mobilier.categorie === "Fauteuil" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path mobilier.mphoto, height: 200, crop: :fill %>')">
        </div>
      <div class="zoom titre-prix">
      <h6><%= mobilier.titre.upcase %></h2>
      <p><%= mobilier.prix %>€</p>
      <%= link_to mobilier_path(mobilier) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
  <% end %>
  <% end %>
  </div>
    <div class="div4 row">
      <% @mobiliers.each do |mobilier| %>
       <% if mobilier.visible === true && mobilier.categorie === "Chaise" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path mobilier.mphoto, height: 200, crop: :fill %>')">
        </div>
      <div class="zoom titre-prix">
      <h6><%= mobilier.titre.upcase %></h2>
      <p><%= mobilier.prix %>€</p>
      <%= link_to mobilier_path(mobilier) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
      <% end %>
  <% end %>
  </div>
    <div class="div5 row">
      <% @mobiliers.each do |mobilier| %>
       <% if mobilier.visible === true && mobilier.categorie === "Table basse" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path mobilier.mphoto, height: 200, crop: :fill %>')">
        </div>
      <div class="zoom titre-prix">
      <h6><%= mobilier.titre.upcase %></h2>
      <p><%= mobilier.prix %>€</p>
      <%= link_to mobilier_path(mobilier) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
      <% end %>
  <% end %>
  </div>
  <div class="div6 row">
      <% @mobiliers.each do |mobilier| %>
       <% if mobilier.visible === true && mobilier.categorie === "Banc" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path mobilier.mphoto, height: 200, crop: :fill %>')">
        </div>
      <div class="zoom titre-prix">
      <h6><%= mobilier.titre.upcase %></h2>
      <p><%= mobilier.prix %>€</p>
      <%= link_to mobilier_path(mobilier) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
      <% end %>
  <% end %>
  </div>
</div>
