<div class="container-show">
  <% if user_signed_in? %>
  <div class="admin-link">
    <p><%= link_to "NOUVEL OBJET", new_bijou_path  %> / <%= link_to "MODIFIER L'OBJET", edit_bijou_path(@bijou)%> / <%= link_to "SUPPRIMER CET OBJET", bijou_path(@bijou), :method => :delete %> </p>
  </div>
  <% end %>
  <div class="navigation">
    <p><%= link_to "ACCUEIL", "/"  %> / <%= link_to "BIJOU", bijous_path  %> / <%= @bijou.titre.upcase %></p>
  </div>
  <div class="row">
    <div class="col-xs-12 div col-sm-12 col-md-6">
      <!-- Place somewhere in the <body> of your page -->
<div id="tslider" class="flexslider">
  <ul class="slides slides-container">
    <li><img src="<%= cl_image_path  @bijou.bphoto, height: 400, width: 600, crop: :fill%>" alt=""></li>
    <li>
      <% if @bijou.bpictures[0].present? %>

      <img src="<%= cl_image_path @bijou.bpictures[0].bpicture_url(:bijous_image)%>">
    </li>
      <% end %>
    <li>
      <% if @bijou.bpictures[1].present? %>
      <img src="<%= cl_image_path @bijou.bpictures[1].bpicture_url(:bijous_image)%>" />
    </li>
     <% end %>
    <li>
      <% if @bijou.bpictures[2].present? %>
      <img src="<%= cl_image_path @bijou.bpictures[2].bpicture_url(:bijous_image)%>" />
    </li>
     <% end %>
    <li>
      <% if @bijou.bpictures[3].present? %>
      <img src="<%= cl_image_path @bijou.bpictures[3].bpicture_url(:bijous_image)%>" />
    </li>
     <% end %>
    <li>
      <% if @bijou.bpictures[4].present? %>
      <img src="<%= cl_image_path @bijou.bpictures[3].bpicture_url(:bijous_image)%>" />
    </li>
     <% end %>
    <!-- items mirrored twice, total of 12 -->
  </ul>
</div>
<div id="tcarousel" class="flexslider">
  <ul class="slides">
    <li><img src="<%= cl_image_path  @bijou.bphoto, height: 400, width: 600, crop: :fill%>" alt=""></li>
    <li>
      <% if @bijou.bpictures[0].present? %>
      <img src="<%= cl_image_path @bijou.bpictures[0].bpicture_url(:bijous_image)%>" />
    </li>
     <% end %>
    <li>
      <% if @bijou.bpictures[1].present? %>
      <img src="<%= cl_image_path @bijou.bpictures[1].bpicture_url(:bijous_image)%>" />
    </li>
     <% end %>
    <li>
      <% if @bijou.bpictures[2].present? %>
      <img src="<%= cl_image_path @bijou.bpictures[2].bpicture_url(:bijous_image)%>" />
    </li>
     <% end %>
    <li>
      <% if @bijou.bpictures[3].present? %>
      <img src="<%= cl_image_path @bijou.bpictures[3].bpicture_url(:bijous_image)%>" />
    </li>
     <% end %>
    <li>
      <% if @bijou.bpictures[4].present? %>
      <img src="<%= cl_image_path @bijou.bpictures[3].bpicture_url(:bijous_image)%>" />
    </li>
     <% end %>
    <!-- items mirrored twice, total of 12 -->
  </ul>
</div>

    </div>
    <div class="col-xs-12 div col-sm-12 col-md-4 show-description">
        <h1><%= @bijou.titre.capitalize %></h1>
        <h3><%= @bijou.prix %>€</h3>
        <p><%= @bijou.description %></p>
        <div class="btn-dispo">
          <button type="button" class="ai-btn" data-toggle="modal" data-target="#exampleModal"><%= image_tag "disponibilites.svg" %></button>

        </div>
    </div>
  </div>
</div>
<div class="nouveaute-container">
  <div class="row">
    <div class="col xs-12 center">
      <hr class="fancy-line"><h1>RECOMMANDATIONS</h1><hr class="fancy-line">
    </div>
  </div>
    <div class="row center-card">
      <% @bijous[0..2].each do |objet| %>

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path objet.bphoto, height: 150, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= objet.titre.upcase %></h2>
      <p><%= objet.prix %>€</p>

      <%= link_to bijou_path(objet) do %>
        <%= image_tag "voir-produit.svg" %>
      <% end %>


    </div>
      </div>
      </div>
    <% end %>
  </div>

</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content specific-icon">
<button type="button" class="ai-btn" data-dismiss="modal"><%= image_tag "ico-croix.svg" %></button>

                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span> -->
                    </button>

                  <div class="modal-body body-content">
                    <h3>LES AUTRUCHES</h3>
                    <p>Ce produit vous intéresse ? N'hesitez pas à nous contacter pour qu'on vous le réserve ou pour plus d'informations. A très vite.</p><br>
                    <ul>
                      <li><i class="far fa-compass"></i> 33 rue Boulard</li>
                      <li><i class="far fa-compass"></i> Paris - 75014</li>
                      <li><i class="far fa-address-book"></i> 01-40-20-90-00 / 06-07-03-61-62</li>
                      <li><i class="far fa-envelope"></i> <a href="mailto:lesautruches@gmail.com" style="color: black;">lesautruches@gmail.com</a></li>
                    </ul>



                  </div>
                  <div class="modal-footer">

                    <button type="button" class="link-cover"> <%= link_to "Contactez nous par email", new_contact_path   %></button>
                  </div>
                </div>
              </div>
            </div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span> -->
                    </button>

                  <div class="modal-body body-content">
                    <h3>LES AUTRUCHES</h3>
                    <p>Ce produit vous intéresse ? N'hesitez pas à nous contacter pour qu'on vous le réserve ou pour plus d'informations. A très vite.</p><br>
                    <ul>
                      <li><i class="far fa-compass"></i> 33 rue Boulard</li>
                      <li><i class="far fa-compass"></i> Paris - 75014</li>
                      <li><i class="far fa-address-book"></i> 01-40-20-90-00 / 06-07-03-61-62</li>
                      <li><i class="far fa-envelope"></i> <a href="mailto:lesautruches@gmail.com" style="color: black;">lesautruches@gmail.com</a></li>
                    </ul>



                  </div>
                  <div class="modal-footer">
                    <button type="button" class="link-cover" data-dismiss="modal">Revenir à l'annonce</button>
                    <button type="button" class="link-cover"> <%= link_to "Contactez nous par email", new_contact_path   %></button>
                  </div>
                </div>
              </div>
            </div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#tcarousel').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    itemWidth: 100,
    itemMargin: 5,
    asNavFor: '#tslider',
    directionNav:false,
  });

  $('#tslider').flexslider({
    animation: "slide",
    controlNav: false,
    animationLoop: false,
    slideshow: false,
    sync: "#tcarousel",
    directionNav:false,
  });
  });
</script>
