<div class="image-verrerie navigation admin-link">
  <% if user_signed_in? %>
  <%= link_to "NOUVEL OBJET", new_table_path  %>
  <% end %>
  <p><%= link_to "ACCUEIL", '/'  %> / TABLE </p>
  <h1>TABLE</h1>
  <hr class="fancy-line"></hr>
  <div class="first-image table-img">

  </div>
  <div class="link-products cursor">
    <ul class="hidden-xs hidden-sm">
      <li class="1">TOUS LES ARTICLES</li>
      <li class="2">ASSIETTES</li>
      <li class="3">COUVERTS</li>
      <li class="4">TASSES</li>
      <li class="5">PLATS</li>
    </ul>
        <div class="btn-group link-products hidden-lg hidden-md">
  <button type="button" class="btn-lire ai-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    TRIER PAR : <span class="caret"></span>
  </button>
  <ul class="dropdown-menu modal-drop">
    <li class="1">Tous les articles</li>
    <li class="2">Assiettes</li>
    <li class="3">Couverts</li>
      <li class="4">Tasses</li>
      <li class="5">Plats</li>
  </ul>
</div>
  </div>
  <div class="div1 row">
      <% @tables.each do |table| %>
      <% if table.visible === true %>


    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path table.tphoto, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= table.titre.upcase %></h2>
      <p><%= table.prix %>€</p>
      <%= link_to table_path(table) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
      <% end %>
  <% end %>
  </div>
  <div class="div2 row">
      <% @tables.each do |table| %>
      <% if table.visible === true && table.categorie === "Assiette" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path table.tphoto, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= table.titre.upcase %></h2>
      <p><%= table.prix %>€</p>
      <%= link_to table_path(table) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
  <% end %>
  <% end %>
  </div>
  <div class="div3 row">
      <% @tables.each do |table| %>
       <% if table.visible === true && table.categorie === "Couvert" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path table.tphoto, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= table.titre.upcase %></h2>
      <p><%= table.prix %>€</p>
      <%= link_to table_path(table) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
  <% end %>
  <% end %>
  </div>
    <div class="div4 row">
      <% @tables.each do |table| %>
       <% if table.visible === true && table.categorie === "Tasse" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path table.tphoto, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= table.titre.upcase %></h2>
      <p><%= table.prix %>€</p>
      <%= link_to table_path(table) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
      <% end %>
  <% end %>
  </div>
  </div>
    <div class="div5 row">
      <% @tables.each do |table| %>
       <% if table.visible === true && table.categorie === "Plat" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path table.tphoto, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= table.titre.upcase %></h2>
      <p><%= table.prix %>€</p>
      <%= link_to table_path(table) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
      <% end %>
  <% end %>
  </div>
</div>
