<div class="image-verrerie navigation admin-link">
  <% if user_signed_in? %>
  <%= link_to "NOUVEL OBJET", new_accessoire_path  %>
  <% end %>
  <p><%= link_to "ACCUEIL", '/'  %> / ACCESSOIRE </p>
  <h1>ACCESSOIRE</h1>
  <div class="first-image accessoires-img">

  </div>
  <div class="link-products cursor">
    <ul>
      <li class="1">TOUS LES ARTICLES</li>
      <li class="2">ÉTOLES</li>
      <li class="3">TABLIERS</li>
    </ul>
  </div>
  <div class="div1 row">
      <% @accessoires.each do |accessoire| %>
      <% if accessoire.visible === true %>


    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path accessoire.aphoto, height: 200, crop: :fill %>'">
        </div>
      <div class="titre-prix">
      <h6><%= accessoire.titre.upcase %></h2>
      <p><%= accessoire.prix %>€</p>
      <%= link_to "Voir le produit", accessoire_path(accessoire), class: "link-cover"  %>
    </div>
      </div>
      </div>
      <% end %>
  <% end %>
  </div>
  <div class="div2 row">
      <% @accessoires.each do |accessoire| %>
      <% if accessoire.visible === true && accessoire.categorie === "Assiette" %>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path accessoire.aphoto, height: 200, crop: :fill %>'">
        </div>
      <div class="titre-prix">
      <h6><%= accessoire.titre.upcase %></h2>
      <p><%= accessoire.prix %>€</p>
      <%= link_to "Voir le produit", accessoire_path(accessoire), class: "link-cover"  %>
    </div>
      </div>
      </div>
  <% end %>
  <% end %>
  </div>
  <div class="div3 row">
      <% @accessoires.each do |accessoire| %>
       <% if accessoire.visible === true && accessoire.categorie === "Couvert" %>
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path accessoire.aphoto, height: 200, crop: :fill %>'">
        </div>
      <div class="titre-prix">
      <h6><%= accessoire.titre.upcase %></h2>
      <p><%= accessoire.prix %>€</p>
      <%= link_to "Voir le produit", accessoire_path(accessoire), class: "link-cover"  %>
    </div>
      </div>
      </div>
  <% end %>
  <% end %>
  </div>
</div>
