<div class="image-verrerie navigation admin-link">
  <% if user_signed_in? %>
  <%= link_to "NOUVEL OBJET", new_accessoire_path  %>
  <% end %>
  <p><%= link_to "ACCUEIL", '/'  %> / ACCESSOIRE </p>
  <h1>ACCESSOIRE</h1>
  <hr class="fancy-line"></hr>
  <div class="first-image accessoires-img">

  </div>
  <div class="link-products cursor ">
    <ul class="hidden-sm hidden-xs">
      <li class="1">TOUS LES ARTICLES</li>
      <li class="2">ÉTOLES</li>
      <li class="3">TABLIERS</li>
    </ul>
<div class="btn-group link-products hidden-lg hidden-md">
  <button type="button" class="btn-lire dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    TRIER PAR : <span class="caret"></span>
  </button>
  <ul class="dropdown-menu modal-drop">
    <li class="1">Tous les articles</li>
    <li class="2">Étoles</li>
    <li class="3">Tabliers</li>
  </ul>
</div>
  </div>
 <!-- Single button -->
  <div class="div1 row">
      <% @accessoires.each do |accessoire| %>
      <% if accessoire.visible === true %>


    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path accessoire.aphoto, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= accessoire.titre.upcase %></h2>
      <p><%= accessoire.prix %>€</p>
      <%= link_to accessoire_path(accessoire) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>

    </div>
      </div>
      </div>
      <% end %>
  <% end %>
  </div>
  <div class="div2 row">
      <% @accessoires.each do |accessoire| %>
      <% if accessoire.visible === true && accessoire.categorie === "Etole" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path accessoire.aphoto, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= accessoire.titre.upcase %></h2>
      <p><%= accessoire.prix %>€</p>
      <%= link_to accessoire_path(accessoire) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>

    </div>
      </div>
      </div>
  <% end %>
  <% end %>
  </div>
  <div class="div3 row">
      <% @accessoires.each do |accessoire| %>
       <% if accessoire.visible === true && accessoire.categorie === "Tablier" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path accessoire.aphoto, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= accessoire.titre.upcase %></h2>
      <p><%= accessoire.prix %>€</p>
      <%= link_to accessoire_path(accessoire) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>

    </div>
      </div>
      </div>
  <% end %>
  <% end %>
  </div>
</div>
