<div class="image-verrerie navigation admin-link">
  <% if user_signed_in? %>
  <%= link_to "NOUVEL OBJET", new_maroquinery_path  %>
  <% end %>
  <p><%= link_to "ACCUEIL", '/'  %> / MAROQUINERIE </p>
  <h1>MAROQUINERIE</h1>
  <hr class="fancy-line"></hr>
  <div class="first-image maroquinerie-img">

  </div>
  <div class="link-products cursor">
    <ul class="hidden-xs hidden-sm">
      <li class="1">TOUS LES ARTICLES</li>
      <li class="2">SACS</li>
      <li class="3">PORTE-MONNAIES</li>
      <li class="4">POCHETTES</li>
    </ul>
        <div class="btn-group link-products hidden-lg hidden-md">
  <button type="button" class="btn-lire dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    TRIER PAR : <span class="caret"></span>
  </button>
  <ul class="dropdown-menu modal-drop">
    <li class="1">Tous les articles</li>
    <li class="2">Sacs</li>
    <li class="3">Porte-monnaies</li>
      <li class="4">Pochettes</li>

  </ul>
</div>
  </div>
  <div class="div1 row">
      <% @maroquineries.each do |maroquinerie| %>
      <% if maroquinerie.visible === true %>


    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path maroquinerie.maphoto, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= maroquinerie.titre.upcase %></h2>
      <p><%= maroquinerie.prix %>€</p>
      <%= link_to maroquinerie_path(maroquinerie) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
      <% end %>
  <% end %>
  </div>
  <div class="div2 row">
      <% @maroquineries.each do |maroquinerie| %>
      <% if maroquinerie.visible === true && maroquinerie.categorie === "Sac" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path maroquinerie.maphoto, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= maroquinerie.titre.upcase %></h2>
      <p><%= maroquinerie.prix %>€</p>
      <%= link_to maroquinerie_path(maroquinerie) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
  <% end %>
  <% end %>
  </div>
  <div class="div3 row">
      <% @maroquineries.each do |maroquinerie| %>
       <% if maroquinerie.visible === true && maroquinerie.categorie === "Porte-monnaie" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path maroquinerie.maphoto, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= maroquinerie.titre.upcase %></h2>
      <p><%= maroquinerie.prix %>€</p>
      <%= link_to maroquinerie_path(maroquinerie) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
  <% end %>
  <% end %>
  </div>
    <div class="div4 row">
      <% @maroquineries.each do |maroquinerie| %>
       <% if maroquinerie.visible === true && maroquinerie.categorie === "Pochette" %>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card-item">

        <div class="carte" style="background-image: url('<%= cl_image_path maroquinerie.maphoto, height: 200, crop: :fill %>'">
        </div>
      <div class="zoom titre-prix">
      <h6><%= maroquinerie.titre.upcase %></h2>
      <p><%= maroquinerie.prix %>€</p>
      <%= link_to maroquinerie_path(maroquinerie) do %>
      <%= image_tag "voir-produit.svg" %>
      <% end %>
    </div>
      </div>
      </div>
      <% end %>
  <% end %>
  </div>

</div>
