
 <div class="container container-margin">
  <h1>AJOUTER UN OBJET</h1>
  <hr class="fancy-line"></hr>
<div class="row">
  <div class="col-md-12">
<%= simple_form_for(@maroquinerie, :html => { multipart: true }) do |f| %>
 <% if @maroquinerie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@maroquinerie.errors.count, "erreur") %> empêchent l'objet d'être ajouté:</h2>

      <ul>
      <% @maroquinerie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-form">
    <div class="champs">
      <%= f.input :titre, label: 'TITRE' %>
      <%= f.input :description, label: 'DESCRIPTION' %>
      <%= f.input :categorie, collection: ["Sac", "Porte-monnaie", "Pochette"], label: 'CATEGORIE', placeholder: "Choisissez une catégorie" %>
      <%= f.input :prix, label: 'PRIX' %>
      <%= f.input :visible, as: :select, label: 'VISIBLE' %>
      <%= f.input :maphoto, label: "PHOTO PRINCIPALE", placeholder: 'Oui' %>
      <%= f.input :maphoto_cache, as: :hidden %>
    </div>


   <%= f.fields_for :mapicture do |ff| %>
    <div class="field">
      <%= ff.label :mapicture, label: "PHOTOS SECONDAIRES" %><br>
      <%= ff.file_field :mapicture, multiple: true, name: "mapictures[]" %>
    </div>
  <% end %>

    <div class="actions btn-margin">
      <%= f.button :submit, 'AJOUTER', class: "btn-form" %>
    </div>
    <% end %>

  </div>
<p><%= link_to "RETOUR AUX ANNONCES", maroquineries_path, class: 'btn-form-delete'  %></p>

     </div>
</div>
</div>


</div>
